body {
  font-family: Quicksand;
}

li {
  list-style-type: none;
}

.button {
  width: 113px;
  height: 43px;
  background-color: #d2e1ff;
  border: none;
  color: #3a79ff;
}

.header {
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: space-between;
}

.header__menu_link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__menu_link-container-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  gap: 42px;
}

.header__menu_social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__menu_social_links-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.header__menu_social_button {
  display: grid;
  align-items: start;
  align-self: center;
}